.footer {
    height: 10vh;
    padding: 25px 100px 20px 100px;
    background: #c6c6c6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .reserved {
        color: #000;
        font-size: 14px;
    }
    .icon {
        .icon-bottom {
            cursor: pointer;
            height: 35px;
            width: 35px;
            margin: 10px;
        }        
    }
}